@charset "UTF-8";
.pedidos {
  color: #fd8700; }

.tipos_hamburguesas {
  display: grid;
  grid-template-areas: "cheese doblecuarto onion bacon clasica";
  grid-template-columns: 20% 20% 20% 20% 20%;
  height: 100%;
  width: 100%; }

.tipos_hamburguesas div {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  transition: 1s;
  opacity: 85%; }

.tipos_hamburguesas div:hover {
  transform: scale(1.01);
  opacity: 100%; }

.tipos_hamburguesas div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative; }

.tipos_hamburguesas div h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-stretch: ultra-condensed;
  font-variant: small-caps;
  margin-bottom: 700px;
  color: #fd8700;
  position: absolute;
  font-stretch: expanded;
  text-align: center;
  width: 5cm; }

.cheese {
  grid-area: cheese;
  opacity: 80%; }

.doble_cuarto {
  grid-area: doblecuarto;
  opacity: 80%; }

.onion {
  grid-area: onion;
  opacity: 80%; }

.bacon {
  grid-area: bacon;
  opacity: 80%; }

.clasica {
  grid-area: clasica;
  opacity: 80%; }

.tipos_hamburguesas div button {
  text-align: center;
  border-radius: 25px;
  background-color: #26263a;
  color: #ffffff;
  width: 6cm;
  margin-top: 500px;
  position: absolute; }

.tipos_hamburguesas div button:hover {
  background-color: #fd8700;
  color: #ffffff;
  transform: scale(1.1); }

button p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-stretch: expanded;
  font-variant: small-caps; }

.footer_pedidos {
  background-image: linear-gradient(90deg, #fd8700, #ffd71d);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 0;
  height: 150px;
  width: 100%;
  border-top-color: #ffffff; }

.logo_footer_pedidos {
  margin-top: 22px;
  height: 100px;
  width: 125px;
  padding: 0px;
  border-radius: 50%; }

.footer_pedidos p {
  height: 30px;
  width: 300px;
  vertical-align: middle;
  font-size: 17px;
  margin-top: 65px;
  color: black;
  text-align: center; }

/* Vista Mobile */
@media (max-width: 768px) {
  .tipos_hamburguesas {
    display: grid;
    grid-template-areas: "cheese" "doblecuarto" "onion" "bacon" "clasica";
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 100%;
    width: 100%; }
  .tipos_hamburguesas div h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-stretch: ultra-condensed;
    font-variant: small-caps;
    margin-bottom: 500px;
    color: #fd8700;
    position: absolute;
    font-stretch: expanded;
    text-align: center;
    width: 100%; }
  .footer_pedidos p {
    height: 30px;
    width: 300px;
    vertical-align: middle;
    font-size: 14px;
    margin-top: 65px;
    color: black;
    text-align: center; }
  .logo_footer_pedidos {
    margin-top: 22px;
    height: 100px;
    width: 125px;
    padding-left: 10px;
    border-radius: 50%; }
  .tipos_hamburguesas div button {
    text-align: center;
    border-radius: 25px;
    background-color: #26263a;
    color: #ffffff;
    width: 6cm;
    margin-top: 500px;
    position: absolute; } }

.body_contacto {
  display: flex;
  flex-direction: column; }

.contactos {
  color: #fd8700; }

.logo {
  height: 100px;
  width: 150px;
  float: left;
  padding: 0px;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: 1; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.contacto {
  background-image: url("../Assets/Images/contacto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  animation-name: efecto_contacto;
  animation-duration: 1s;
  animation-iteration-count: 1; }

@keyframes efecto_contacto {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

.contacto div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.mensajeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation-name: mensajeria;
  animation-duration: 1s;
  animation-iteration-count: 1; }

@keyframes mensajeria {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

.nombre_apellido {
  height: 50px;
  width: 10cm;
  border-radius: 15px;
  border-color: #fd8700;
  margin-top: 12px;
  font-size: 18px; }

.email {
  height: 50px;
  width: 10cm;
  border-radius: 15px;
  border-color: #fd8700;
  margin-top: 12px;
  font-size: 18px; }

.mensaje {
  height: 3cm;
  width: 10cm;
  border-radius: 15px;
  text-align: initial;
  margin-top: 12px;
  font-size: 18px; }

.boton {
  text-align: center;
  height: 50px;
  width: 3cm;
  border-radius: 15px;
  border-color: #fd8700;
  font-size: 20px;
  display: block;
  margin-top: 15px;
  background-color: #26263a;
  color: white;
  font: bold;
  margin-left: 35%; }

.boton:hover {
  background-color: #fd8700;
  color: black; }

.footer_contacto {
  background-image: linear-gradient(90deg, #fd8700, #ffd71d);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 150px;
  width: 100%;
  border-top-color: #ffffff; }

.logo_footer_contacto {
  margin-top: 22px;
  height: 100px;
  width: 100%;
  padding: 0px;
  border-radius: 50%; }

.footer_contacto p {
  height: 30px;
  width: 300px;
  vertical-align: middle;
  font-size: 17px;
  margin-top: 65px;
  color: black; }

/* Vista Mobile */
@media (max-width: 768px) {
  .footer_contacto p {
    height: 30px;
    width: 300px;
    vertical-align: middle;
    font-size: 14px;
    margin-top: 65px;
    color: black;
    text-align: center; }
  .logo_footer_contacto {
    margin-top: 22px;
    height: 100px;
    width: 100%;
    padding-left: 10px;
    border-radius: 50%; }
  .nombre_apellido {
    height: 30px;
    width: 7cm;
    border-radius: 15px;
    border-color: #fd8700;
    margin-top: 12px;
    font-size: 13px; }
  .email {
    height: 30px;
    width: 7cm;
    border-radius: 15px;
    border-color: #fd8700;
    margin-top: 12px;
    font-size: 13px; }
  .mensaje {
    height: 30px;
    width: 7cm;
    border-radius: 15px;
    text-align: initial;
    margin-top: 12px;
    font-size: 13px; }
  .boton {
    text-align: center;
    height: 35px;
    width: 3cm;
    border-radius: 15px;
    border-color: #fd8700;
    font-size: 15px;
    display: block;
    margin-top: 15px;
    background-color: #26263a;
    color: white;
    font: bold;
    margin-left: 30%; } }

.texto_2 {
  background-image: url("../Assets/Images/burger.jpg");
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.cuadro_textos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%; }

.texto_izquierda {
  width: 500px;
  transition: 1s;
  animation-duration: 1s;
  animation-name: cuadro_izquierdo;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  background-color: #ffd71d;
  opacity: 70%;
  border-radius: 25px; }

@keyframes cuadro_izquierdo {
  0% {
    translate: -400px; }
  100% {
    translate: 0px; } }

.texto_izquierda:hover {
  transform: scale(1.2);
  opacity: 100%; }

.texto_derecha {
  width: 500px;
  transition: 1s;
  animation-duration: 1s;
  animation-name: cuadro_derecho;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  opacity: 70%;
  border-radius: 24px;
  background-color: #ffd71d; }

@keyframes cuadro_derecho {
  0% {
    translate: 400px; }
  100% {
    translate: 0px; } }

.texto_derecha:hover {
  transform: scale(1.2);
  opacity: 100%; }

.texto_izquierda h1 {
  border-style: double;
  border-color: #fd8700;
  border-radius: 24px;
  color: black;
  backface-visibility: hidden;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 100%;
  text-align: center; }

.texto_izquierda h1:hover {
  border-color: #ffd71d; }

.texto_derecha h1 {
  border-style: double;
  border-color: #fd8700;
  border-radius: 24px;
  color: #000000;
  backface-visibility: hidden;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 100%;
  text-align: center; }

.texto_derecha h1:hover {
  border-color: #ffd71d; }

.cuadro_textos div h1 {
  font-size: 25px; }

.footer_sobrenosotros {
  background-image: linear-gradient(90deg, #fd8700, #ffd71d);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 150px;
  width: 100%;
  border-top-color: #ffffff; }

.logo_footer_sobrenosotros {
  margin-top: 22px;
  height: 100px;
  width: 125px;
  padding: 0px;
  border-radius: 50%; }

.footer_sobrenosotros p {
  height: 30px;
  width: 300px;
  vertical-align: middle;
  font-size: 17px;
  margin-top: 65px;
  color: black; }

.sobre_nosotros {
  color: #fd8700; }

/* Vista mobile */
@media (max-width: 768px) {
  .cuadro_textos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%; }
  .cuadro_textos div h1 {
    font-size: 20px; }
  .texto_2 .cuadro_textos div {
    width: 90%; }
  .footer_sobrenosotros p {
    height: 30px;
    width: 300px;
    vertical-align: middle;
    font-size: 14px;
    margin-top: 65px;
    color: black;
    text-align: center; }
  .logo_footer_sobrenosotros {
    margin-top: 22px;
    height: 100px;
    width: 125px;
    padding-left: 10px;
    border-radius: 50%; } }

.panel_ingresar {
  background-image: url("../Assets/Images/hamburguesa.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh; }

.ingresar {
  color: #fd8700; }

.formulario {
  margin-bottom: 0px; }

.panel_ingresar .formulario_ingresar {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.usuario_contraseña {
  height: 1cm;
  width: 8cm;
  border-radius: 12px;
  border-color: #fd8700;
  font-size: 15px; }

.botones {
  text-align: center;
  width: 4cm;
  border-radius: 8px;
  border-color: #fd8700;
  display: block;
  margin-top: 15px;
  background-color: #26263a;
  color: white;
  font: bold;
  font-size: 20px; }

.botones:hover {
  background-color: #fd8700;
  color: black; }

.footer_ingresar {
  background-image: linear-gradient(90deg, #fd8700, #ffd71d);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 0;
  height: 150px;
  width: 100%;
  border-top-color: #ffffff; }

.logo_footer_ingresar {
  margin-top: 22px;
  height: 100px;
  width: 125px;
  padding: 0px;
  border-radius: 50%; }

.footer_ingresar p {
  height: 30px;
  width: 300px;
  vertical-align: middle;
  font-size: 17px;
  margin-top: 65px;
  color: black; }

/* Vista mobile */
@media (max-width: 768px) {
  .footer_ingresar p {
    height: 30px;
    width: 300px;
    vertical-align: middle;
    font-size: 14px;
    margin-top: 65px;
    color: black;
    text-align: center; }
  .logo_footer_ingresar {
    margin-top: 22px;
    height: 100px;
    width: 125px;
    padding-left: 10px;
    border-radius: 50%; } }

* {
  padding: 0;
  margin: 0; }

.index {
  display: flex;
  flex-direction: column; }

.nav_inicio {
  background-color: #ffffff;
  display: flex;
  justify-content: center; }

.logo_padre {
  height: 100px;
  width: 150px;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: 1; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.lista {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 35px; }

nav ul li {
  list-style: none;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%; }

nav ul li a {
  text-decoration: none;
  color: #26263a;
  font-weight: bold;
  transition: 0.5s; }

nav ul li a:hover {
  color: #fd8700; }

.inicio {
  color: #fd8700; }

.imagen_fondo {
  display: block;
  background-image: url("../Assets/Images/hamburguesa.jpg");
  background-color: #ffffff;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  text-align: center;
  animation-name: efecto_fondo;
  animation-duration: 2s;
  animation-iteration-count: 1; }

@keyframes efecto_fondo {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

.footer_index {
  background-image: linear-gradient(90deg, #fd8700, #ffd71d);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 0;
  height: 150px;
  width: 100%;
  border-top-color: #ffffff;
  margin-top: auto; }

.logo_footer {
  margin-top: 22px;
  height: 100px;
  width: 152px;
  padding: 0px;
  border-radius: 50%; }

.footer_index p {
  height: 30px;
  width: 300px;
  text-align: center;
  font-size: 17px;
  margin-top: 65px;
  color: black; }

/* Vista mobile */
@media (max-width: 768px) {
  .nav_inicio {
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .logo_padre {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100px;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: 1; }
  @keyframes aparecer {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  .lista {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 35px; }
  .imagen_fondo {
    height: 100vh;
    width: 100vw;
    display: block;
    flex-direction: column;
    background-image: url("../Assets/Images/hamburguesa.jpg");
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-align: center;
    animation-name: efecto_fondo;
    animation-duration: 2s;
    animation-iteration-count: 1; }
  @keyframes efecto_fondo {
    0% {
      opacity: 0%; }
    100% {
      opacity: 100%; } }
  .footer_index {
    background-image: linear-gradient(90deg, #fd8700, #ffd71d);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0;
    height: 150px;
    width: 100vw;
    border-top-color: #ffffff;
    margin-top: auto; }
  .lista {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 15px; }
  nav ul li {
    list-style: none;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px; }
  .footer_index p {
    height: 30px;
    width: 300px;
    text-align: center;
    font-size: 14px;
    margin-top: 65px;
    color: black; }
  .logo_footer {
    margin-top: 22px;
    height: 100px;
    width: 125px;
    padding: 0px;
    border-radius: 50%;
    padding-left: 10px; } }
