@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 } 

.body_contacto {
    display: flex;
    flex-direction: column;
}

.contactos {
    color: $color-primario;
}

.logo {
    @include sizes(150px, 100px);
    float: left;
    padding: 0px;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.contacto {
    background-image: url("../Assets/Images/contacto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include sizes(100%, 100vh);
    animation-name: efecto_contacto;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes efecto_contacto {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.contacto div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensajeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    animation-name: mensajeria;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes mensajeria {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.nombre_apellido {
    @include sizes(10cm, 50px);
    border-radius: 15px;
    border-color: $color-primario;
    margin-top: 12px;
    font-size: 18px;
}

.email {
    @include sizes(10cm, 50px);
    border-radius: 15px;
    border-color: $color-primario;
    margin-top: 12px;
    font-size: 18px;
}

.mensaje {
    @include sizes(10cm, 3cm);
    border-radius: 15px;
    text-align: initial;
    margin-top: 12px;
    font-size: 18px;
}

.boton {
    text-align: center;
    @include sizes(3cm, 50px);
    border-radius: 15px;
    border-color: $color-primario;
    font-size: 20px;
    display: block;
    margin-top: 15px;
    background-color: #26263a;
    color: white;
    font: bold;
    margin-left: 35%;
}

.boton:hover {
    background-color: $color-primario;
    color: black;
}

.footer_contacto {
    background-image: linear-gradient(90deg, $color-primario, $color-secundario);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @include sizes(100%, 150px);
    border-top-color: #ffffff;
}

.logo_footer_contacto {
    margin-top: 22px;
    @include sizes(100%, 100px);
    padding: 0px;
    border-radius: 50%;
}

.footer_contacto p {
    @include sizes(300px, 30px);
    vertical-align: middle;
    font-size: $fuente-footer;
    margin-top: 65px;
    color: black;
}

/* Vista Mobile */

@media (max-width: 768px) {
    .footer_contacto p {
        @include sizes(300px, 30px);
        vertical-align: middle;
        font-size: $fuente-footer-mobile;
        margin-top: 65px;
        color: black;
        text-align: center;
    }

    .logo_footer_contacto {
        margin-top: 22px;
        @include sizes(100%, 100px);
        padding-left: $padding-logo-footer;
        border-radius: 50%;
    }

    .nombre_apellido {
        @include sizes(7cm, 30px);
        border-radius: 15px;
        border-color: $color-primario;
        margin-top: 12px;
        font-size: 13px;
    }

    .email {
        @include sizes(7cm, 30px);
        border-radius: 15px;
        border-color: $color-primario;
        margin-top: 12px;
        font-size: 13px;
    }

    .mensaje {
        @include sizes(7cm, 30px);
        border-radius: 15px;
        text-align: initial;
        margin-top: 12px;
        font-size: 13px;
    }

    .boton {
        text-align: center;
        @include sizes(3cm, 35px);
        border-radius: 15px;
        border-color: $color-primario;
        font-size: 15px;
        display: block;
        margin-top: 15px;
        background-color: #26263a;
        color: white;
        font: bold;
        margin-left: 30%;
    }
}