    @mixin sizes($width, $height) {
        height: $height;
        width: $width;
    }

    .texto_2 {
        background-image: url("../Assets/Images/burger.jpg");
        background-color: #ffffff;
        @include sizes(100%, 100vh);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cuadro_textos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90%;

        div h1 {
            font-size: 25px;
        }
    }

    .texto_izquierda {
        width: 500px;
        transition: 1s;
        animation-duration: 1s;
        animation-name: cuadro_izquierdo;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        background-color: $color-secundario;
        opacity: 70%;
        border-radius: 25px;
    }

    .texto_izquierda:hover {
        transform: scale(1.2);
        opacity: 100%;
    }


    @keyframes cuadro_izquierdo {
        0% {
            translate: -400px;
        }

        100% {
            translate: 0px;
        }
    }

    .texto_derecha {
        width: 500px;
        transition: 1s;
        animation-duration: 1s;
        animation-name: cuadro_derecho;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        opacity: 70%;
        border-radius: 24px;
        background-color: $color-secundario;
    }

    .texto_derecha:hover {
        transform: scale(1.2);
        opacity: 100%;
    }


    @keyframes cuadro_derecho {
        0% {
            translate: 400px;
        }

        100% {
            translate: 0px;
        }
    }

    .texto_izquierda h1 {
        border-style: double;
        border-color: $color-primario;
        border-radius: 24px;
        color: rgb(0, 0, 0);
        backface-visibility: hidden;
        font-family: Arial, Helvetica, sans-serif;
        opacity: 100%;
        text-align: center;
    }

    .texto_izquierda h1:hover {
        border-color: $color-secundario;
    }


    .texto_derecha h1 {
        border-style: double;
        border-color: $color-primario;
        border-radius: 24px;
        color: #000000;
        backface-visibility: hidden;
        font-family: Arial, Helvetica, sans-serif;
        opacity: 100%;
        text-align: center;
    }

    .texto_derecha h1:hover {
        border-color: $color-secundario;
    }

    .footer_sobrenosotros {
        background-image: linear-gradient(90deg, $color-primario, $color-secundario);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        @include sizes(100%, 150px);
        border-top-color: #ffffff;

        p {
            @include sizes(300px, 30px);
            vertical-align: middle;
            font-size: $fuente-footer;
            margin-top: 65px;
            color: black;
        }
    }

    .sobre_nosotros {
        color: $color-primario;
    }

    .logo_footer_sobrenosotros {
        margin-top: 22px;
        @include sizes(125px, 100px);
        padding: 0px;
        border-radius: 50%;
    }

    /* Vista mobile */
    @media (max-width: 768px) {
        .cuadro_textos {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;

            div h1 {
                font-size: 20px;
            }
        }

        .texto_2 .cuadro_textos div {
            width: 90%;
        }

        .footer_sobrenosotros p {
            @include sizes(300px, 30px);
            vertical-align: middle;
            font-size: $fuente-footer-mobile;
            margin-top: 65px;
            color: black;
            text-align: center;
        }

        .logo_footer_sobrenosotros {
            margin-top: 22px;
            @include sizes(125px, 100px);
            padding-left: $padding-logo-footer;
            border-radius: 50%;
        }
    }